body {
  overflow-x: auto;
  overflow-y: scroll;
}
.src-components-Home-Detail__detail--bB02O {
  width: 100%;
}
.src-components-Home-Detail__detail--bB02O .src-components-Home-Detail__header--nDopV {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 30px;
  font-size: 16px;
}
.src-components-Home-Detail__detail--bB02O .src-components-Home-Detail__header--nDopV > a {
  margin-right: 10px;
}
.src-components-Home-Detail__detail--bB02O .src-components-Home-Detail__header--nDopV > span {
  margin-left: 10px;
  font-size: 18px;
  font-weight: bold;
}
.src-components-Home-Detail__detail--bB02O .src-components-Home-Detail__content--34CwA .src-components-Home-Detail__item--1Kt3i img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 700px;
}
.src-components-Home-Detail__detail--bB02O .src-components-Home-Detail__content--34CwA .src-components-Home-Detail__item--1Kt3i .src-components-Home-Detail__title--3B2zG {
  margin-top: 10px;
  color: #666;
  font-size: 14px;
}
.src-components-Home-Detail__detail--bB02O .src-components-Home-Detail__content--34CwA .src-components-Home-Detail__item--1Kt3i + .src-components-Home-Detail__item--1Kt3i {
  margin-top: 40px;
}
.src-components-Home-Detail__detail--bB02O .src-components-Home-Detail__content--34CwA .src-components-Home-Detail__more--J4z3z {
  margin-top: 40px;
}
.src-components-Home-index__logo--2ud_A {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.src-components-Home-index__logo--2ud_A .src-components-Home-index__text--1FuFM {
  font-size: 2.5em;
  color: #717070;
}
.src-components-Home-index__tabs--33jQJ .ant-tabs-bar {
  display: flex;
  justify-content: center;
}
.src-components-Home-index__tabs--33jQJ .ant-tabs-bar .ant-tabs-tab {
  display: inline-flex;
  justify-content: center;
  color: #717070;
  font-size: 18px;
}
.src-components-Home-index__tabs--33jQJ .ant-tabs-bar .ant-tabs-tab:hover {
  color: #717070;
}
.src-components-Home-index__tabs--33jQJ .ant-tabs-bar .ant-tabs-ink-bar.ant-tabs-ink-bar-animated {
  background-color: #717070;
}
@media screen and (max-width: 600px) {
  .src-components-Home-index__tabs--33jQJ .ant-tabs-bar .ant-tabs-nav-container {
    width: 100%;
  }
  .src-components-Home-index__tabs--33jQJ .ant-tabs-bar .ant-tabs-nav-container .ant-tabs-nav {
    width: 100%;
  }
  .src-components-Home-index__tabs--33jQJ .ant-tabs-bar .ant-tabs-nav-container .ant-tabs-nav .ant-tabs-tab {
    margin-right: 0;
    padding: 10px 7px;
    width: 25%;
  }
}
.src-components-Home-index__tab-pane--12pks {
  max-width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.src-components-Home-index__content-layout--ieJYQ {
  padding: 30px;
  font-size: 16px;
}
.src-components-Home-index__words--4skbv {
  max-width: 650px;
}
.src-components-Home-index__contact--3kZVY .src-components-Home-index__label--3Zhrq {
  display: inline-block;
  width: 100px;
}
.src-components-Home-index__work--3NIEe .src-components-Home-index__header--1FoyG {
  display: flex;
  justify-content: center;
  font-weight: bolder;
}
.src-components-Home-index__work--3NIEe .ant-collapse-header {
  margin: 30px 0 30px 0 !important;
  padding: 0 40px !important;
}
.src-components-Home-index__work--3NIEe .ant-collapse-header .ant-collapse-arrow {
  visibility: hidden;
}
.src-components-Home-index__work--3NIEe .ant-collapse-content-box {
  padding: 0 16px !important;
}
.src-components-Home-index__work--3NIEe .ant-collapse-item {
  border: none !important;
}
.src-components-Home-index__work--3NIEe .src-components-Home-index__collapse--1H_Bf {
  width: 300px;
}
.src-components-Home-index__sub-categories--3j0Bl .src-components-Home-index__item--3494D {
  display: flex;
  justify-content: center;
  margin: 25px 0;
  cursor: pointer;
}
.src-components-Home-index__sub-categories--3j0Bl .src-components-Home-index__item--3494D:first-child {
  margin-top: 5px;
}
.src-components-Home-index__sub-categories--3j0Bl .src-components-Home-index__item--3494D:last-child {
  margin-bottom: 5px;
}
.src-components-App-styles__app--1XWGp {
  overflow: auto;
}

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IiIsImZpbGUiOiJzdHlsZXMuMGRlNzIwYTIwODAyZWQwMTA3OWYuY3NzIiwic291cmNlUm9vdCI6IiJ9*/